/node_modules
/public/hot
/public/storage
/public/*.png
/public/*.jpg
/public/*.log
/public/assets/media/files/*.pdf
/public/assets/media/files/*.word
/public/assets/media/images
/public/assets/media/files/contracts/*.docx
/public/assets/media/files/contracts
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
/.idea
dump.rdb
.DS_Store